<div class="row">
  <div class="col-md-12 left-bar">
      <form>
        <h2>Cтатус собаки:</h2>
        <div class="form-group">
          <label ng-repeat="status in $ctrl.statuses" class="radio primary">
            <input type="radio" data-toggle="radio" value={{status.id}} ng-model="$ctrl.dog.status"
                   data-radiocheck-toggle="radio" name="statuses">
            {{status.status_title}}
          </label>
        </div>

        <div class="form-group">
          <h2 for="age">Вік</h2>
          <input type="number" class="form-control" id="age" ng-model="$ctrl.dog.age">
        </div>

        <div class="form-group">
          <h2>Стать:</h2>
          <select ng-model="$ctrl.dog.gender"
                  class="form-control" id="gender">
            <option ng-repeat="gender in $ctrl.genders" value="{{gender.id}}">{{gender.gender_title}}</option>
          </select>
        </div>

        <h2>Розмір:</h2>

        <div class="form-group sizes">
          <label ng-repeat="size in $ctrl.sizes" class="radio primary">
            <input type="radio" data-toggle="radio" value="{{size.id}}" ng-model="$ctrl.dog.size"
                   data-radiocheck-toggle="radio" name="sizes">
            {{size.size_title}}
          </label>
        </div>

        <div class="form-group">
          <h2>Район:</h2>
          <select ng-model="$ctrl.dog.region"
                  class="form-control">
            <option ng-repeat="region in $ctrl.regions" value="{{region.id}}">{{region.region_title}}</option>
          </select>
        </div>

        <div class="form-group">
          <h2>Додаткова інформація</h2>
          <textarea type="text" class="form-control" id="add-info" ng-model="$ctrl.dog.aditional_info" rows="5"/>
        </div>
        
        <span ng-click="$ctrl.postDog($ctrl.dog)" class="btn btn-success">Додати</span>

      </form>

      <!--<div drop-zone class="dropzone dropzone-image" url="/upload" files="$ctrl.files" style="margin-bottom: 10px">
            </div>-->

  </div>
</div>

<!--<div class="row">

<div class="col-md-3 left-bar">
		<div class="pull-right">

			<form role="form">

				<h2>Cтатус собаки:</h2>
				<div class="form-group">
					<label ng-repeat="status in $ctrl.statuses" class="radio primary">
            			<input type="radio" data-toggle="radio" value={{status.id}} ng-model="$ctrl.filter.status"
                   			   data-radiocheck-toggle="radio" name="statuses">
						{{status.status_title}}
          			</label>

					<label class="radio primary">
            			<input type="radio" data-toggle="radio" value="-1" ng-model="$ctrl.filter.status"
                   			   data-radiocheck-toggle="radio" name="statuses">
						Не знаю
          			</label>
				</div>

				<h2>Район:</h2>
				<select ng-model="$ctrl.filter.region" 
						data-toggle="select" 
						class="select select-inverse mrs mbm region-select" 
						ng-options="region.region_title for region in $ctrl.regions">
        		</select>

				<h2>Розмір:</h2>
				<div class="form-group sizes">
					<label ng-repeat="size in $ctrl.sizes" class="radio primary">
						<input type="radio" data-toggle="radio" value="{{size.id}}" ng-model="$ctrl.filter.size"
                   			   data-radiocheck-toggle="radio" name="sizes">
            			{{size.size_title}}
          			</label>

					<label class="radio primary">
						<input type="radio" data-toggle="radio" value="-1" ng-model="$ctrl.filter.size"
							   data-radiocheck-toggle="radio" name="sizes">
						Не знаю
					</label>
				</div>

				<h2>Стать:</h2>
				<select ng-model="$ctrl.filter.gender" 
						data-toggle="select" 
						class="select select-inverse mrs mbm region-select" 
						ng-options="gender.gender_title for gender in $ctrl.genders">
        		</select>

				<button ng-click="$ctrl.applyFilter({$event: $ctrl.filter})" type="button" class="btn btn-success">Застосувати</button>
			</form>
		</div>
	</div>
</div>-->