<div>
	<div class="row">
		<div class="col-md-12">
			<form>
				<div class="form-group">
					<label for="login">Логін</label>
					<input type="text" class="form-control" id="login" ng-model="$ctrl.login">
				</div>

				<div class="form-group">
					<labelh2 for="password">Пароль</label>
					<input type="password" class="form-control" id="password" ng-model="$ctrl.password">
				</div>

        <span ng-click="$ctrl.postDog($ctrl.dog)" class="btn btn-success">Залогінитись</span>
			</form>
		</div>
	</div>
</div>