<div class="row">
	<dogs-filter regions="$ctrl.regions"
				 genders="$ctrl.genders"
				 statuses="$ctrl.statuses"
				 sizes="$ctrl.sizes"
				 filter="$ctrl.filter",
				 apply-filter="$ctrl.filterDogs($event)">
	</dogs-filter>

	<div class="col-md-9">

		<div class="row darkgray">
			<a type="button" class="btn btn-danger add-dog" ui-sref="dog-post">Додати собаку</a>
		</div>

		<div class="row top20" ng-repeat="dog in $ctrl.dogs">
			<div class="col-md-3">
				<a href="#">
					<img class="img-responsive" src="/public/img/dog.jpg" alt="">
				</a>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<h5>{{$ctrl.getAdditionalInfoForHeader(dog.aditional_info)}}</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="info-group">
							<span><img src="/public/img/clocks.svg" alt=""/>{{$ctrl.getItemById(dog.status, 'statuses').status_title}}</span>
							<span><img src="/public/img/male3-512.png" alt=""/>{{$ctrl.getItemById(dog.gender, 'genders').gender_title}}</span>
							<span><img src="/public/img/loop.svg" alt=""/>{{dog.age}} роки(-ів)</span>
							<span><a type="button" class="btn btn-success" ng-click="$ctrl.redirectToDetails(dog.id)">Детальніше</a></span>
						</div>
					</div>
					<div class="col-md-9">
						<p style="display:inline-block;">
							{{dog.aditional_info}}
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>