<!--<div>
  <h1>{{ $ctrl.name }}</h1>
  <p ng-repeat="dog in $ctrl.dogs">{{dog.name}}</p>
</div>-->

<div class="row">
  <div class="col-md-3 left-bar">
    <div class="pull-right">

      <h2>Cтатус собаки:</h2>

      <form role="form">
        <div class="form-group">
          <!--<label class="radio primary">-->
            <!--<input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios1c" value="option1"-->
                   <!--data-radiocheck-toggle="radio">-->
            <!--Терміново потребує допомоги-->
          <!--</label>-->
          <!--<label class="radio primary">-->
            <!--<input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios2c" value="option2"-->
                   <!--data-radiocheck-toggle="radio" checked="">-->
            <!--Шукає перетримку-->
          <!--</label>-->
          <!--<label class="radio primary">-->
            <!--<input type="radio" data-toggle="radio" name="optionsRadios" id="optionsRadios2c" value="option2"-->
                   <!--data-radiocheck-toggle="radio" checked="">-->
            <!--Шукає господаря-->
          <!--</label>-->
          <label ng-repeat="status in $ctrl.statuses"
            class="radio primary">
            <input type="radio" data-toggle="radio" value={{status.id}} ng-model="$ctrl.filter.status"
                   data-radiocheck-toggle="radio">
            {{status.name}}
          </label>
        </div>
        <h2>Район:</h2>
        <select data-toggle="select" class="select select-inverse mrs mbm region-select">
          <option value="0">Сихівський</option>
          <option value="1">Личаківський</option>
          <option value="2">Франківський</option>
          <option value="3">My Settings</option>
          <option value="4">Logout</option>
        </select>

        <h2>Розмір:</h2>

        <div class="form-group sizes">
          <label class="radio primary">
            <input type="radio" data-toggle="radio" name="optionsRadios1" id="optionsRadios1c" value="option1"
                   data-radiocheck-toggle="radio">
            Маленька
          </label>
          <label class="radio primary">
            <input type="radio" data-toggle="radio" name="optionsRadios1" id="optionsRadios2c" value="option2"
                   data-radiocheck-toggle="radio" checked="">
            Середня
          </label>
          <label class="radio primary">
            <input type="radio" data-toggle="radio" name="optionsRadios1" id="optionsRadios2c" value="option2"
                   data-radiocheck-toggle="radio" checked="">
            Велика
          </label>
        </div>
        <select data-toggle="select" class="select select-inverse mrs mbm region-select">
          <option value="0">Чоловіча</option>
          <option value="1">Жіноча</option>
        </select>
      </form>
    </div>
  </div>
  <div class="col-md-9 main-contenter">
    <div class="row darkgray">
      <a type="button" class="btn btn-danger add-dog" ui-sref="dog-post">Додати собаку</a>
    </div>
    <div class="row dog">
      <div class="photo" style="background-image:url(/public/img/dog.jpg)">
      </div>
      <div class="info">
        <h2>Марсік - велика біла собака</h2>

        <div class="info-group">
          <span><img src="/public/img/clocks.svg" alt=""/> Терміново</span>
          <span><img src="/public/img/male3-512.png" alt=""/> Жіноча</span>
          <span><img src="/public/img/loop.svg" alt=""/> 4 роки</span>
          <span><button type="button" class="btn btn-success">Детальніше</button></span>
        </div>
        <p>
          Короткий опис про собаку в довільній формі, скільки поміститься Короткий опис про собаку в довільній формі,
          скільки поміститься
          Короткий опис про собаку в довільній формі, скільки поміститься
        </p>
      </div>
    </div>
    <div class="row dog">
      <div class="photo" style="background-image:url(/public/img/dog.jpg)">
      </div>
      <div class="info">
        <h2>Марсік - велика біла собака</h2>

        <div class="info-group">
          <span><img src="/public/img/clocks.svg" alt=""/> Терміново</span>
          <span><img src="/public/img/male3-512.png" alt=""/> Жіноча</span>
          <span><img src="/public/img/loop.svg" alt=""/> 4 роки</span>
          <span>  <button type="button" class="btn btn-success">Детальніше</button></span>
        </div>
        <p>
          Короткий опис про собаку в довільній формі, скільки поміститься Короткий опис про собаку в довільній формі,
          скільки поміститься
          Короткий опис про собаку в довільній формі, скільки поміститься
        </p>
      </div>
    </div>
    <div class="row dog">
      <div class="photo" style="background-image:url(/public/img/dog.jpg)">
      </div>
      <div class="info">
        <h2>Марсік - велика біла собака</h2>

        <div class="info-group">
          <span><img src="/public/img/clocks.svg" alt=""/> Терміново</span>
          <span><img src="/public/img/male3-512.png" alt=""/> Жіноча</span>
          <span><img src="/public/img/loop.svg" alt=""/> 4 роки</span>
          <span>  <button type="button" class="btn btn-success">Детальніше</button></span>
        </div>
        <p>
          Короткий опис про собаку в довільній формі, скільки поміститься Короткий опис про собаку в довільній формі,
          скільки поміститься
          Короткий опис про собаку в довільній формі, скільки поміститься
        </p>
      </div>
    </div>
    <div class="row dog">
      <div class="photo" style="background-image:url(/public/img/dog.jpg)">
      </div>
      <div class="info">
        <h2>Марсік - велика біла собака</h2>

        <div class="info-group">
          <span><img src="/public/img/clocks.svg" alt=""/> Терміново</span>
          <span><img src="/public/img/male3-512.png" alt=""/> Жіноча</span>
          <span><img src="/public/img/loop.svg" alt=""/> 4 роки</span>
          <span>  <button type="button" class="btn btn-success">Детальніше</button></span>
        </div>
        <p>
          Короткий опис про собаку в довільній формі, скільки поміститься Короткий опис про собаку в довільній формі,
          скільки поміститься
          Короткий опис про собаку в довільній формі, скільки поміститься
        </p>
      </div>
    </div>
    <div class="row dog">
      <div class="photo" style="background-image:url(/public/img/dog.jpg)">
      </div>
      <div class="info">
        <h2>Марсік - велика біла собака</h2>

        <div class="info-group">
          <span><img src="/public/img/clocks.svg" alt=""/> Терміново</span>
          <span><img src="/public/img/male3-512.png" alt=""/> Жіноча</span>
          <span><img src="/public/img/loop.svg" alt=""/> 4 роки</span>
          <span>  <button type="button" class="btn btn-success">Детальніше</button></span>
        </div>
        <p>
          Короткий опис про собаку в довільній формі, скільки поміститься Короткий опис про собаку в довільній формі,
          скільки поміститься
          Короткий опис про собаку в довільній формі, скільки поміститься
        </p>
      </div>
    </div>
    <div class="row dog">
      <div class="photo" style="background-image:url(/public/img/dog.jpg)">
      </div>
      <div class="info">
        <h2>Марсік - велика біла собака</h2>

        <div class="info-group">
          <span><img src="/public/img/clocks.svg" alt=""/> Терміново</span>
          <span><img src="/public/img/male3-512.png" alt=""/> Жіноча</span>
          <span><img src="/public/img/loop.svg" alt=""/> 4 роки</span>
          <span>  <button type="button" class="btn btn-success">Детальніше</button></span>
        </div>
        <p>
          Короткий опис про собаку в довільній формі, скільки поміститься Короткий опис про собаку в довільній формі,
          скільки поміститься
          Короткий опис про собаку в довільній формі, скільки поміститься
        </p>
      </div>
    </div>

  </div>
</div>
