<div class="row">
  <div class="col-md-3 left-bar">
    <div class="pull-right">

      <form role="form">
        <h2>Cтатус волонтер:</h2>
        <div class="form-group">
          <label ng-repeat="status in $ctrl.statuses"
                 class="radio primary">
            <input type="radio" data-toggle="radio" value={{status.id}} ng-model="$ctrl.filter.statuses"
                   data-radiocheck-toggle="radio" name="statuses">
            {{status.status_title}}
          </label>

          <label class="radio primary">
            <input type="radio" data-toggle="radio" value="-1" ng-model="$ctrl.filter.statuses"
                   data-radiocheck-toggle="radio" name="statuses">
            Всі
          </label>
        </div>

        <h2>Район:</h2>

        <select ng-model="$ctrl.filter.region"
                data-toggle="select" class="select select-inverse mrs mbm region-select">
          <option ng-repeat="region in $ctrl.regions" value="{{region.id}}">{{region.region_title}}</option>
          <option value="-1">Всі</option>
        </select>

        <br/>
        <button ng-click="$ctrl.filterDogs($ctrl.filter)" type="button" class="btn btn-success">Застосувати</button>
      </form>
    </div>
  </div>
  <div class="col-md-9 main-contenter">
    <div class="row dog" ng-repeat="volounteer in $ctrl.users track by $index">
      <div class="photo" style="background-image:url(/public/img/volun.jpg)">
      </div>
      <div class="info">
        <h2 class = "pull-left">{{ volounteer.first_name + ' ' + volounteer.second_name}}</h2>
        <div class="info-group" style="margin-top:15px" ng-if="$ctrl.statuses[volounteer.status].status_title === 'Зайнятий'">
          <span><img src="/public/img/Infinite-Loop.svg" alt=""/> {{$ctrl.statuses[volounteer.status].status_title}} </span>
        </div>

        <div class="info-group" style="margin-top:15px" ng-if="$ctrl.statuses[volounteer.status].status_title === 'Вільний'">
          <span><img src="/public/img/clocks.svg" alt=""/> {{$ctrl.statuses[volounteer.status].status_title}} </span>
        </div>

        <div style="clear:both;">
        </div>
        <p style="padding: 0 15px">
          {{ volounteer.aditional_info }}
        </p>
      </div>
    </div>
  </div>
</div>
